*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    width: 100%;
    background-color: rgb(247, 246, 244);
    position: relative;
    display: flex;
}
#menu{
    background: rgb(89, 85, 85);
    width: 250px;
    height:600px ;
}

#menu .logo {
    display: flex;
    align-items: center;
    color:rgb(240, 252, 255);
    padding: 30px 0 0 30px;
}
#menu .logo img{
    width: 40px;
    margin-right: 15px;

}
#menu .items{
margin-top: 40px;
}
#menu .items li{
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
}
#menu .items li i{
color: rgb(134, 141, 151);
width: 30px;
height: 20px;
line-height: 30px;
text-align: center;
font-size: 14px;
margin: 0 10px 0 25px;
}
#menu .items li a{
    text-decoration: none;
    color: rgb(134, 141, 151);
    font-weight: 300px;
    transition: 0.3s ease;
}
#menu .items li:hover{
    background-color: rgb(47, 17, 17);
    cursor: pointer;
}
#menu .items li:nth-child(1){
    border-left: 4px solid #fff;
}
#menu .items li:hover i,
#menu .items li:hover a{
color: #fff;
} 

#interface{
    width: calc(100% - 250px);
    justify-content: right;
    
}

#interface .nav{
    padding: 15px 30px;
    display: flex;
    background-color: #faf5f5;
    border-bottom: 3px solid #594ef7;
    align-items: center;
    justify-content: space-between;
}
#interface .nav .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #d7dbe6;
    border-radius: 14px;
}
#interface .nav .search input{
    border: none;
    outline: none;
    font-size: 14px;

}
#interface .nav .search i{
    margin-right: 14px;
}
#interface .nav .profile{
    justify-content: space-between;
    display: flex;
    align-items: center;

}

#interface .nav .profile i{
    margin-right: 25px;
    font-size: 19px;
    font-weight: 400px;
}
#interface .nav .profile img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.i-name{
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;

}
.values{
    padding: 20px 30px 0 20px;
    display: flex;
    margin: 0 12px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.values .val-box{
    background-color: #fff;
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.values .val-box i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 60%;
    text-align: center;
    color: rgb(235, 159, 44);
    margin-right: 10px;
}
.values .val-box h3{
    font-size: 18px;
    font-weight: 600;
}

.values .val-box span{
    font-size: 15px;
    color:#828997 ;
}
.values .val-box:nth-child(1) i{
    background-color: #594ef7;
}
.values .val-box:nth-child(2) i{
    background-color: #9493a1;
}

.values .val-box:nth-child(3) i{
    background-color: #2e5a31;
}

.values .val-box:nth-child(4) i{
    background-color: #f0f0f4;
}




